@font-face {
    font-family: 'Aspekta';
    font-weight: 500;
    font-style: normal;
    font-display: fallback;
    src: url('fonts/slkscr.ttf') format('woff2');
}

@font-face {
    font-family: 'Aspekta';
    font-weight: 650;
    font-style: normal;
    font-display: fallback;
    src: url('fonts/slkscr.ttf') format('woff2');
}